BasedOnStyle: Google
BreakBeforeBraces: Stroustrup
BreakConstructorInitializersBeforeComma: true
NamespaceIndentation: All
MaxEmptyLinesToKeep: 0
AccessModifierOffset: 0
AllowShortLoopsOnASingleLine: false
